

<div class="venue">
	<div class="venuelabel">
		<<$VenueName>>
	
		
		<div class="weekdays">
			<<
				$renderPreFormatted = {
					param( $c, $v )
					
					Render-Template "$TemplateDir\PreFormatted.template.html" @{
						Classes = $c
						Value	= $v
					}
				}
			
				$week = @("M", "T", "O", "T", "F")
				$week | % {
					& $renderPreFormatted "day" $_
				}
			>>
		</div>
	</div>
	
	<div class="classes">
	<<
		$Classes | Sort startdate | % {
			$class = $_
			
			if ( ($bookings[$class.Id] | ? venuename -eq $VenueName )) {
				Render-Template "$TemplateDir\Class.template.html" @{
					SiteName = $SiteName
					VenueName = $VenueName
					Class = $class
					PeriodStart=$StartDate
					PeriodEnd=$EndDate
				}
			}
		}
	>>
	</div>
	
</div>
