
<<

$Values.classRenderStartTime = [datetime]::now

$cd = $Class
$week = @("M", "T", "O", "T", "F")
$sd = $cd.startdate
$ed = $cd.enddate
$si = $sd.DayOfWeek.value__
$ei = $ed.DayOfWeek.value__

for ($i = 1; $i -le 5; $i++) {
	if ( ($i -lt $si) -or ($i -gt $ei) ) {
		$week[$i-1] = "_"
	}
}

$values.Week = $week


$renderProperty = {
	param( $c, $l, $v )
	
	Render-Template "$TemplateDir\Property.template.html" @{
		Classes = $c
		Label 	= $l
		Value	= $v
	}
}

$Values.renderProperty = $renderProperty

$renderPreFormatted = {
	param( $c, $v )
	
	Render-Template "$TemplateDir\PreFormatted.template.html" @{
		Classes = $c
		Value	= $v
	}
}

$Values.renderPreFormatted = $renderPreFormatted

>>

<div class="class">
	<div class="class_status">
		<div class="classnumber">
			<<
				$Values.Class.classnumber
			>>
		</div>
		<div class="weekdays">
			<<
				$Values.Week | % {
					$tag = if ($_ -eq "_") { "empty" }
					& $Values.renderPreFormatted "day $tag" $_
				}
			>>
		</div>
		<div class="classtitle">
			<a
				href="<<
					'https://cornerstone.crm4.dynamics.com/main.aspx?appid=bf624f81-ca84-ec11-8d21-6045bd8b64a9&forceUCI=1&pagetype=entityrecord&etn=cint_course_date&id={0}' -f $class.Id
				>>"
				target="<<$class.id>>"
			>
				<< $Class.classtitle >>
			</a>
		</div>
	</div>
	<div class="class_nameid">
		<div class="setup">
			<<
				if ($null -ne $Annotations.Setup) {
					$Annotations.Setup.notetext
				} else {
					("Course", "Class" | % {
						$Annotations.$_ | % { $_.notetext + "" } | ? { $_ -match "Prepp:" }
					}) -join " "
				}
			>>
		</div>
	</div>
	<div class="class_details">
		
		<<
		
			$renderProperty = $Values.renderProperty
			

			$studentCount = $Students | measure | % Count
			$masterStudents = $Students | ? { $_.type -ne 717640001 }
			$studentCountAtHome = $Students | ? { $_.type -eq 717640001 } | Measure | % Count
			
			$localStudentCount = $masterStudents | measure | % Count
			
			$atHomeValue = if ($studentCountAtHome) { ("+ {0}x@Home" -f $studentCountAtHome) } else { "" }
			$localStudentValue = "$localStudentCount"
			$v = "{0} {1}" -f @(
				$localStudentValue,
				$atHomeValue
			)
			
			& $renderProperty "reservations" "Deltagare:" $v
			
			& $renderProperty "instructorname" "Instruktör:" $Class.teachers
			
		>>
	</div>
	
	<div class="class_notes ">
		<<
			$notes = $Annotations.Course | ? notetext -notmatch "Prepp:"
			if ($notes) {
				Render-Template "$TemplateDir\notesDiv.tmplt.html" @{
					HtmlClass = "course_notes"
					Notes = $notes
				}
			}
		>>

		<<
			$notes = $Annotations.Class | ? notetext -notmatch "Prepp:"
			if ($notes) {
				Render-Template "$TemplateDir\notesDiv.tmplt.html" @{
					HtmlClass = "course_date_notes"
					Notes = $notes
				}
			}
		>>
	</div>
	<<
		$classRenderEndTime = [datetime]::now

		"<!-- Class Render took {0:N2} seconds -->" -f ($classRenderEndTime - $Values.classRenderStartTime).TotalSeconds
	>>
</div>
