
<div class="site">
	<h2><<$SiteName>></h2>

	<div class="venues">
	<<	
		$VenuesInSite = $Bookings.Keys | % { $Bookings[$_] | ? sitename -eq $SiteName | % venuename } | Sort -Unique

		$VenuesInSite | % {
			
			$venueName = $_

			$classesToRender = $Classes | ? {
				($Bookings[$_.Id] | ? venuename -eq $VenueName )
			} | ? {
				$meta = $Annotations[$_.Id].Meta
				if ($meta | ? { ($r = $_.Reports ) -and ($true -eq $r.Hidden) }) {
					return $false
				}
				return $true
			}
			
			if (-not $classesToRender) { return }

			Render-Template "$TemplateDir\Venue.template.html" @{
				VenueName = $venueName
				Classes = $classesToRender
				Bookings = $Bookings
				SiteName = $SiteName
				Students = $Students
				Annotations = $Annotations
			}
			
		}
		
	>>
	</div>
</div>
