
<div class="venue">
	<div class="venuelabel"> <<$VenueName>> </div>
	
	<div class="classes">
	<<
		$Classes | Sort startdate | % {
			$class = $_
			
			if ( ($bookings[$class.Id] | ? venuename -eq $VenueName )) {

				Render-Template "$TemplateDir\Class.template.html" @{
					SiteName = $SiteName
					VenueName = $VenueName
					Class = $class
					Students = $students[$class.id]
					Annotations = $Annotations[$class.id]
					PeriodStart=$StartDate
					PeriodEnd=$EndDate
				}
			}
		}
	>>
	</div>
	
</div>
