
<div class="venue">
	<<
		$Values.venueRenderStartTime = [datetime]::now
	>>
	<div class="venuelabel"> <<$VenueName>> </div>
	
	<div class="classes">
	<<
		$Classes | Sort { [datetime]$_.startdate } | % {
			$class = $_
			
			if ( ($bookings[$class.Id] | ? venuename -eq $VenueName )) {

				Render-Template "$TemplateDir\Class.template.html" @{
					SiteName = $SiteName
					VenueName = $VenueName
					Class = $class
					Students = $students[$class.id]
					Annotations = $Annotations[$class.id]
					PeriodStart=$StartDate
					PeriodEnd=$EndDate
				}
			}
		}
	>>
	</div>
	<<

		$venueRenderEndTime = [datetime]::now
		"<!-- Venue render finished in {0:N2} seconds. -->" -f ($venueRenderEndTime - $Values.venueRenderStartTime).TotalSeconds

	>>
</div>
